extends layout

block content
    h1=title
    if books.length
        ul
            each book in books
                - var url = "/catalog/book/" + book.id
                li
                    a(href=url) #{book.title}
                    | #{book.author.name}
    else
        p No books found